.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

// ===============
// Sidebar Widgets
// ===============
.widget-area {
  aside {
    .widget-title {
      font-size: 24px;
    }

    input[type=search] {
      font-size: 16px;
      margin: 0;
      width: 100%;
    }
  }
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}