html {
  box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color-background-body; /* Fallback for when there is no custom background color defined. */
  position: relative;
}

blockquote {
  border-left: 5px solid desaturate($theme-aggro, 20%);
  color: desaturate($theme-aggro, 20%);
  font-style: italic;
  margin: 5px;
  padding: $size-site-padding;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

blockquote,
q {
  quotes: ' ';
}

hr {
  background-color: $color-background-hr;
  border: 0;
  height: 1px;
}

strong.search-excerpt {
  background-color: $theme-pop;
}

@import 'lists';

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

@import 'tables';
