header {
  &.site-header {
    background-color: $theme-primary;
    background-position: center;
    background-size: cover;
    color: $theme-header-color;
    padding-bottom: 25px;
    padding-top: 50px;
    text-align: center;

    a {
      color: $theme-header-color;
      text-decoration: none;

      &:hover {
        color: $theme-header-color;
      }
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
    }
  }
}
