$header-shadow: 1px 1px 8px rgba(0, 0, 0, .5),
  -1px -1px 8px rgba(0, 0, 0, .5),
  -1px 1px 8px rgba(0, 0, 0, .5),
  1px -1px 8px rgba(0, 0, 0, .5);

header {
  &.entry-header.header-top {
    background-color: #4fa6ef;
    background-position: center;
    background-size: cover;
    margin: 0 0 20px;
    padding: 20px;

    h1 {
      color: #fff;
      margin-bottom: 10vh;
      margin-top: 10vh;
      text-align: center;
      text-shadow: $header-shadow;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }

  &.site-header {
    background-color: $theme-primary;
    background-position: center;
    background-size: cover;
    color: $theme-header-color;
    padding-bottom: 25px;
    padding-top: 50px;
    text-align: center;

    a {
      color: $theme-header-color;
      text-decoration: none;

      &:hover {
        color: $theme-header-color;
      }
    }

    h1 {
      font-size: 24px;
      text-shadow: $header-shadow;
    }

    h2 {
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      text-shadow: $header-shadow;
    }
  }
}
