$navigation-size:            350px;
$navigation-triangle-size:   80px;
$navigation-size-inner:      $navigation-size - $navigation-triangle-size;
$navigation-color:           darken($theme-primary, 5%);
$navigation-color-dark:      #1769ae;
$navigation-color-dark-fade: fade-out($navigation-color-dark, .1);
$navigation-font-color:      $theme-header-color;

.main-navigation {
  @include transition-all(.5);
  border-color: $navigation-color-dark-fade #000 #000;
  border-color: $navigation-color-dark-fade transparent transparent;
  border-style: solid;
  border-width: $navigation-triangle-size $navigation-triangle-size 0 0;
  color: $navigation-font-color;
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#000');
  height: 0;
  left: -$navigation-size-inner; /* this needs to be equal to the width of itself! */
  max-width: $navigation-size;
  position: fixed;
  top: 0;
  width: $navigation-size;
  z-index: 999999;

  &:before {
    @include transition-all(.5);
    content: '\f0c9';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.6em;
    opacity: 1;
    position: absolute;
    right: -35px;
    top: -75px;
  }

  &:hover,
  &:focus {
    border-color: $navigation-color-dark #000 #000;
    border-color: $navigation-color-dark transparent transparent;
    height: 100%;
    left: 0;
    max-width: calc(100% - 80px);

    &:before {
      opacity: 0;
    }

    .content {
      background-color: $navigation-color;
      display: block;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      overflow: auto;
      padding: 20px;
      width: $navigation-size;
    }
  }

  .content {
    display: none;
    height: 0;
    width: 0;
  }

  // =============
  // Sidebar Title
  // =============
  .site-title {
    display: table;
    height: $navigation-triangle-size;
    position: absolute;
    top: -$navigation-triangle-size;
    z-index: 99999;

    h3 {
      display: table-cell;
      font-size: 1.4em;
      vertical-align: middle;

      @media(max-width: $screen-xs-max) {
        font-size: 1.1em;
      }

      a {
        color: $navigation-font-color;
      }
    }
  }

  // =============
  // List Elements
  // =============

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
      float: left;
      left: -999em;
      position: absolute;
      top: 1.5em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      // :hover > a {
      // }

      // a:hover {
      // }
    }

    li:hover > ul {
      left: auto;
    }
  }

  li {
    background-color: $navigation-color-dark;
    font-family: $font-sans-serif;
    font-size: 14px;
    margin-bottom: 1px;
    padding: 10px;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 100%;

    &:hover {
      background-color: darken($navigation-color-dark, 5%);
    }

    a {
      color: $navigation-font-color;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.menu-toggle,
.main-navigation.toggled .nav-menu {
  display: block;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
