.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-preview {
  h1 {
    font-size: 22px;
    margin-bottom: 0;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  p {
    font-family: $font-serif;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .entry-content {
    margin-top: 10px;
  }
}